{% extends "base.html" %} {% block title %}Jobs{% endblock %} {% block content %}
<h1 align="center">Jobs</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in notes %}
    <li class="list-group-item">
        <h5>{{ note.title }}</h5>
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
</ul>

{% if user.role == 'admin' %}
<form method="POST">
    <input type="text" name="title" id="title" class="form-control" placeholder="Title"> </input>
    <br />
    <textarea name="note" id="note" class="form-control" placeholder="Description"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endif %}

{% endblock %}
